
<%- include("partials/header"); -%>


    <h1><%=title%></h1>
    <p><%=content%></p>


<a href="/delete/<%=id%>"><button class="btn btn-primary">Update</button></a>    
<a href="/delete/<%=id%>"><button class="btn btn-primary">Delete</button></a>

<%- include("partials/footer"); -%>
